<div class="congtainer">
	<div class="text-center">

	<h1>Welcome to GROWLIST 🌻</h1>

	<h2>SITE MAP</h2>

	<h4><%= link_to "マイページ",users_user_path(@user) %></h4>
		<p><%= current_user.name %> さんの投稿したブログやタネ、登録したお気に入りの花屋の一覧です。<br/>他ユーザのプロフィールを見ることもできます。 </p>

	<h4><%= link_to "タネ",users_tweets_path %></h4>
		<p>タネ＝植物に関する呟きです。<%= current_user.name %>さんが撒いたタネや他のユーザが撒いたタネから、<br/>
		情報をシェアしたり悩み相談などができます。</p>

 	<h4><%= link_to "ブログ",users_blogs_path %></h4>
 		<p>タネよりももっとまとまった情報発信をしたいときはブログにして発信してみましょう。<br/>
 		「いいね」した他のユーザのブログ記事は、マイページからご覧いただけます。</p>

 	<h4><%= link_to "花屋",users_shops_path %></h4>
 		<p>ユーザが実際に利用した全国の花屋のレビューです。<br/>
 			誰かにオススメしたくなる花屋を見つけたときは、他のユーザにシェアしましょう！</p>
 	</div>

<!-- <h2>新着のタネ</h2>

<h2>新着ブログ記事</h2>

<h2>新着花屋レビュー</h2> -->
</div>