<!DOCTYPE html>
<html>
  <head>
    <title>GROWLIST</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        
        <ol class="navbar-nav" style="list-style: none">

              <% if user_signed_in? %>
              <p class="navbar-brand"><%= link_to "GROWLIST",users_users_top_path  %></p>
                <li class="nav-item">
                  <%= link_to "マイページ", users_user_path(current_user), class: 'nav-link btn btn-primary' %>
                </li>
                <li class="nav-item">
                  <%= link_to "タネ一覧", users_tweets_path(current_user), class: 'nav-link btn btn-primary' %>
                </li>
                 <li class="nav-item">
                  <%= link_to "ブログ一覧", users_blogs_path(current_user), class: 'nav-link btn btn-primary' %>
                </li>
                 <li class="nav-item">
                  <%= link_to "花屋一覧", users_shops_path(current_user), class: 'nav-link btn btn-primary' %>
                </li>
                <li class="nav-item">
                  <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'nav-link btn btn-success' %>
                </li>
               
              <% elsif admin_signed_in?%>
              <p class="navbar-brand"><%= link_to "GROWLIST",admins_users_path  %></p>
                <li class="nav-item">
                  <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'nav-link btn btn-primary' %>
                </li>
                <li class="nav-item">
                  <%= link_to "編集", edit_user_registration_path, class: 'nav-link btn btn-primary' %>
                </li>
              <% else %>
              <p class="navbar-brand"><%= link_to "GROWLIST",root_path  %></p>
                <li class="nav-item">
                  <%= link_to "ログイン", new_user_session_path, class: 'nav-link btn btn-primary' %>
                </li>
                <li class="nav-item">
                  <%= link_to "新規登録", new_user_registration_path, class: 'nav-link btn btn-primary' %>
                </li>
              <% end %>
        </ol>
       </nav>
    <%= yield %>
  </body>
</html>
